@page "/"

<PageTitle>Dashboard</PageTitle>

<PageTemplate>
    <ToolBarTitle>
        <MudText Typo="Typo.h5">Dashboard</MudText>
    </ToolBarTitle>
    <Body>Text Here again</Body>
</PageTemplate>