@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@page "/register"

<PageTitle>Register</PageTitle>

<h3>Finish Setting Up Account</h3>

Hello, @Email

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Activate">Register</MudButton>

@code {
    public string Email { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        Email = authState.User.Identity.Name;
    }

    public void Activate()
    {
        //navigate to the register page
        clientContext.UserIsActive = true;
        NavigationManager.NavigateTo("/");
    }
}
