@page  "/transactions/month"
<PageTitle>Transactions</PageTitle>

<PageTemplate>
    <ToolBarTitle>
        <MudText Typo="Typo.h5">Transactions - </MudText>
    </ToolBarTitle>
    <Body>
        Text Here again
    </Body>
</PageTemplate>

@code {
    // protected override async Task OnInitializedAsync()
    // {

    // }
}
