@page "/transactions/month"
<PageTitle>Transactions</PageTitle>

<PageTemplate>
    <ToolBarTitle>
        Transactions
    </ToolBarTitle>
    <ToolBarRightSide>
        <MudFab Color="Color.Primary" Href="/transactions/create" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" Elevation="0"/>
    </ToolBarRightSide>
    <Body>
        Text Here again
    </Body>
</PageTemplate>

@code {
    // protected override async Task OnInitializedAsync()
    // {

    // }
}
